body {
  background-color: black;
  color: whitesmoke;
}

.error {
  color: darkred;
}

button[disabled] {
  cursor: not-allowed;
}

.getQuote {
  color: whitesmoke
}

.mr1 {
  margin-right: .25rem;
}

.ml1 {
  margin-left: .25rem;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;
}

